<div id="browse">
  <h3>Browse stories</h3>
  <ul id="active-stories">
    <li class="story">
      <a href="#">
        <p>It was a dark and stormy night...</p>
        <ul class="meta">
          <li class="round">Round 12</li>
          <li class="players">3 players</li>
        </ul>
      </a>
    </li>
    <li class="story">
      <a href="#">
        <p>Bill Clinton takes a puff of his cigar...</p>
        <ul class="meta">
          <li class="round">Round 12</li>
          <li class="players">3 players</li>
        </ul>
      </a>
    </li>
    <li class="story">
      <a href="#">
        <p>Superman wakes up, puts on his suit and...</p>
        <ul class="meta">
          <li class="round">Round 12</li>
          <li class="players">3 players</li>
        </ul>
      </a>
    </li>
    <li class="story">
      <a href="#">
        <p>A guy named Adrian is about to win a million dollars...</p>
        <ul class="meta">
          <li class="round">Round 12</li>
          <li class="players">3 players</li>
        </ul>
      </a>
    </li>
    <li class="story">
      <a href="#">
        <p>She said, "don't leave me," and ran down the hall...</p>
        <ul class="meta">
          <li class="round">Round 12</li>
          <li class="players">3 players</li>
        </ul>
      </a>
    </li>
    <li class="story">
      <a href="#">
        <p>99 bottles of beer on the wall, 99 bottles of beer...</p>
        <ul class="meta">
          <li class="round">Round 12</li>
          <li class="players">3 players</li>
        </ul>
      </a>
    </li>
    <li class="story">
      <a href="#">
        <p>16 years ago today, I lost my eye in the war...</p>
        <ul class="meta">
          <li class="round">Round 12</li>
          <li class="players">3 players</li>
        </ul>
      </a>
    </li>
    <li class="story">
      <a href="#">
        <p>Back in my day...</p>
        <ul class="meta">
          <li class="round">Round 12</li>
          <li class="players">3 players</li>
        </ul>
      </a>
    </li>
    <li class="story">
      <a href="#">
        <p>Go the fuck to sleep.</p>
        <ul class="meta">
          <li class="round">Round 12</li>
          <li class="players">3 players</li>
        </ul>
      </a>
    </li>
  </ul>
</div>