<div id="browse">
  <h3>Browse stories</h3>
  <ul id="active-stories">
  {{#stories}}
      <li class="story">
        <a href="#">
          <p>{{title}}</p>
          <ul class="meta">
            <li class="round">Round {{currentRound}}</li>
            <li class="players">{{playerCount}} players</li>
          </ul>
        </a>
      </li>
  {{/stories}}
  </ul>
</div>