<div id="browse">
  <h3>Active stories</h3>
  <ul id="active-stories">
    <li>
      <a href="#"><p>It was a dark and stormy night...</p></a>
    </li>
    <li>
      <a href="#"><p>It was a dark and stormy night...</p></a>
    </li>
    <li>
      <a href="#"><p>It was a dark and stormy night...</p></a>
    </li>
    <li>
      <a href="#"><p>It was a dark and stormy night...</p></a>
    </li>
    <li>
      <a href="#"><p>It was a dark and stormy night...</p></a>
    </li>
    <li>
      <a href="#"><p>It was a dark and stormy night...</p></a>
    </li>
    <li>
      <a href="#"><p>It was a dark and stormy night...</p></a>
    </li>
    <li>
      <a href="#"><p>It was a dark and stormy night...</p></a>
    </li>
    <li>
      <a href="#"><p>It was a dark and stormy night...</p></a>
    </li>
  </ul>
</div>