!!! 5
html(lang="en")
  head
    title= "A real-time collaborative storytelling game | Crowd Scribe"
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/default.css')
  body!= body