<!DOCTYPE html>
<html>
  <head>
    <title>A real-time collaborative storytelling game | Crowd Scribe</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/default.css" />
  </head>
  <body>
    {{>_header}}
    {{{yield}}}
    {{>_footer}}
  </body>
</html>