<div id="story">
  <input type="hidden" id="story-id" value="{{id}}" />
  <h1>The story so far...</h1>
  <ol>
    <li class="entry">
      <span class="content">It was a dark and stormy night...</span>
    </li>
  </ol>
</div>

<div id="round">
  <h2>Round 3</h2>
  <h4><span class="state">Starting in</span> <span class="timer">2:60</span></h4>

  <div class="entry-form">
    <form>
      <textarea name="entry"></textarea>
      <button type="submit">Submit!</button>
    </form>
  </div>

  <div id="entries">
    <ol>
      <li class="entry">
        <span class="content">Manuel had passed the fish on his way up the road. It was eighteen to twenty inches long and its silvery scales were covered with dirt.</span>
        <span class="score"></span>
        <button class="vote">Vote</button>
        <div class="metadata"></div>
      </li>
    </ol>
  </div>

</div>

<div id="players">
  <ul>
    <li class="player">
      <span class="name">Robert Coker</span> (<span class="points">12</span>)
    </li>
  </ul>
</div>

<script type="text/javascript" src="/js/io/socket.io.min.js"></script>
<script type="text/javascript" src="/js/story.js"></script>

