<div id="story">
  <h2>The story so far...</h2>
  <ol id="stream">
    <li>It was a dark and stormy night...</li>
    <li>Nam vel tincidunt nunc. Curabitur accumsan nisi neque, et aliquam ante. Mauris pulvinar commodo elit id suscipit.</li>
    <li>Integer mattis, est vel sollicitudin egestas, lectus dui ultrices felis, eu placerat nunc diam vitae justo.</li>
  </ol>
</div>

<div id="current-round">
  <h2>Round 3 <span>:60</span></h2>
  <div id="entry">
    <form>
	    <textarea name="entry"></textarea>
	    <button type="submit">Submit!</button>
    </form>
  </div>

  <div id="entries">
    <ul>
      <li><a href="#">Such a polite knock. A bit like Mr Marsden from the Pru used when he came to collect his money every month.</a></li>
      <li><a href="#">A firm knock but not one designed to alarm. Knock, knock, knock, as if by a gloved hand, which was the case.</a></li>
      <li><a href="#">Jimmy knew it was the soldiers. He had seen them walking along the road, past the troop carriers, six of them in uniform, carrying guns.</a></li>
      <li><a href="#">Manuel had passed the fish on his way up the road. It was eighteen to twenty inches long and its silvery scales were covered with dirt.</a></li>
    </ul>
  </div>
</div>