body { padding: 50px; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
a { color: #00B7FF; }
h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }

header, footer { display: block; }
header { padding-bottom: 25px; }
footer { margin: 10px 0; }
#container { width: 960px; }
#browse h3 { padding-bottom: 15px; }
#active-stories { overflow: hidden; }
#active-stories li { display: block; float: left; width: 275px; height:150px; margin: 10px; border: 1px #888 solid; box-shadow: 0 0 10px #888; }
#active-stories li a { display: block; height: 100%; }
#active-stories li p { padding:15px; margin:0; font-size: 24px; }